<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="urunotomasyon.Properties.Settings.OtomasyonNewConnectionString"
            connectionString="Data Source=LAPTOP-AGOP8H4K;Initial Catalog=OtomasyonNew;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="urunotomasyon.Properties.Settings.otelotomasyonConnectionString"
            connectionString="Data Source=LAPTOP-AGOP8H4K;Initial Catalog=otelotomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>